[touch-action="none"] {
  -ms-touch-action: none;
}

[touch-action="pan-x"] {
  -ms-touch-action: pan-x;
}

[touch-action="pan-y"] {
  -ms-touch-action: pan-y;
}

[touch-action="scroll"], [touch-action="pan-x pan-y"], [touch-action="pan-y pan-x"] {
  -ms-touch-action: pan-x pan-y;
}
